<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">UIUC LINKS</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/Explore/">Explore</a></li>
        <li><a href="{{ site.baseurl }}/Fun/">Fun</a></li>
        <li><a href="{{ site.baseurl }}/myLinks/">myLinks</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
