<div class="Link_Block">
	<!-- Link 1 -->
	<h1>Quick Links</h1>
	<img src="{{ site.baseurl }}/img/Link_Logos/compass.PNG">
	<h4>
		<a href="https://compass2g.illinois.edu/">Compass(Blackboard)</a>
	</h4>
	<br>
	<img src="{{ site.baseurl }}/img/Link_Logos/uiuc-self-service.png">
	<h4>
		<a href="https://learn.illinois.edu/">Learn.illinois(Moodle)</a>
	</h4>
	<br>
	<img src="{{ site.baseurl }}/img/Link_Logos/uiuc-self-service.png">
	<h4>
		<a href="https://apps.uillinois.edu/selfservice/">Self Service(Enterprise)</a>
	</h4>
	<br>

	{% markdown MainContent/Quick_Links.md %}

</div>
